:root {
    --primary-color : crimson;
}

html {
    font-family: 'Roboto', sans-serif;
}

.grid {
    margin: 16px 8px 8px;
}

.pausebtn
, .playbtn {
    display: none!important;
}

.pausebtn.active,
.playbtn.active {
    display: block !important;
}